*.{$DOMAIN} {
  tls {
    issuer acme {
      email {$EMAIL}
      propagation_timeout "15m0s"
      dns loopia {
        username {$API_USER}
        password {$API_PASS}
      }
    }
  }

  @router host router.{$DOMAIN}
  handle @router {
    reverse_proxy 10.0.0.1:8443
  }

  @lab host lab.{$DOMAIN}
  handle @lab {
    reverse_proxy 10.0.10.100:80
  }

  @nas host nas.{$DOMAIN}
  handle @nas {
    reverse_proxy 10.0.10.101:80
  }

  @dashboard host dashboard.{$DOMAIN}
  handle @dashboard {
    reverse_proxy 10.10.10.103:3000
  }

  handle {
    abort
  }
}
