*.{$DOMAIN} {
  tls {
    issuer acme {
      email {$EMAIL}
      propagation_timeout "15m0s"
      dns loopia {
        username {$API_USER}
        password {$API_PASS}
      }
    }
  }

  @router host router.{$DOMAIN}
  handle @router {
    reverse_proxy 10.0.0.1:8443
  }

  @datacenter host datacenter.{$DOMAIN}
  handle @datacenter {
    reverse_proxy 10.0.10.1:8006 {
      transport http {
        tls_insecure_skip_verify
      }
    }
  }

  @lab host lab.{$DOMAIN}
  handle @lab {
    reverse_proxy 10.0.10.100:80
  }

  @nas host nas.{$DOMAIN}
  handle @nas {
    reverse_proxy 10.0.10.101:80
  }

  @dashboard host dashboard.{$DOMAIN}
  handle @dashboard {
    reverse_proxy 10.10.10.103:3000
  }

  @docker host docker.{$DOMAIN}
  handle @docker {
    reverse_proxy 10.10.10.104:9000
  }

  @git host git.{$DOMAIN}
  handle @git {
    reverse_proxy 10.10.10.105:3000
  }

  handle {
    abort
  }
}
